<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Puzzling The Past</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.">
</head>

<body>
    <div class= "navbar-default navbar-static-top" role="navigation">
        <div class= "container">
            <a class="navbar-brand" hrefa"/">Game</a>"
        </div>
    </div>
<div class="container">

    