<!DOCTYPE html>
<html>
    <head>
        <title>Meet Ellen Ochoa</title>
        <h1>Meet Dr. Ellen Ochoa</h1>
    </head>
    <body>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/2NO15woCK8Q"></iframe>

    <!-- todo add path to next level or back to the map -->
    <p><button onclick="location.href = '';" > Main page</button>
    </p>
    </body>
</html>