
<!DOCTYPE html>
<html>
    <head>
        <title>Meet Dr. Ellen Ochoa </title>
        <h1>Meet Dr. Ellen Ochoa</h1>
    </head>
    <body>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/J8d0cdt_C9g"></iframe>

    <!-- todo add path to next level or back to the map -->
    <p><button onclick="location.href = '/';" >Back to Main page to select a new collection</button>
    </p>
    </body>
</html>