
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src='https://code.responsivevoice.org/responsivevoice.js'></script>
        <title>Meet Dr. Ellen Ochoa </title>
        

        <input onclick="responsiveVoice.speak('Meet Doctor Ellen Ochoa, if you click on the video you can learn more about her contribution.');" type='button' value='🔊 Play' />
        
        <style>
            body {
                background-image: url("stars.jpg");
        
        
      }
      * {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
      img{
              max-width: 250%;
              max-height: 250%;
              /* remove extra space below image */
          }
               
      
          h1{
      font-size:300%;
      text-align:center;
      color: white;
      font-family: "Courier new"
    }
    .container { 
  height: 500px;
  position: relative;
  
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
          </style>
    </head>
    <body>
     
        <h1>Meet Dr. Ellen Ochoa</h1>
        <div class="container">
            
            <div class="center">
            <div class="row">
                <div class="column">
                    <img src="ellen.png" alt="Ellen" style="width:100%">
                </div>
                <div class="column">
                    <iframe width="420" height="345" src="https://www.youtube.com/embed/2NO15woCK8Q"></iframe>
                </div>
                <button type="button" class="btn btn-outline-warning btn-lg btn-block" onclick="location.href = '/';">Back to Home</button>
              </div>
            </div>
            
        </div>
    </dive>
          
          
         
           
             <!--buttons-->
             
         
    
    <!-- todo add path to next level or back to the map -->
   
    </body>
</html>