<!DOCTYPE html>
<html>
    <head>
        <title>Meet Gladys West</title>
        <h1>Meet Dr. Gladys West</h1>
    </head>
    <body>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/Oy4tgtVb9BE"></iframe>

    <!-- todo add path to next level or back to the map -->
    <p><button onclick="location.href = '';" > Main page</button>
    </p>
    </body>
</html>