<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <title>Puzzling The Past</title>
    <style>
      body {
  background-color: #0C0D43;
  
  
}
img{
        max-width: 85%;
        max-height: 85%;
        display: block; /* remove extra space below image */
    }
    .box{
        width: 50px;        
        border: 5px solid black;
    }    
    .box.large{
        height: 300px;
    }
    .box.small{
        height: 100px;
    }
    h1{
      font-size:900%;
      text-align:center;
      color: white;
    }
    </style>
  </head>
    <body>
<<<<<<< HEAD
    <!--script-->
    <script src="script.js"></script>
    
    <h1>Welcome to Puzzling the Past </h1>
    <p>Intro.</p>
    <p>About Us</p>
    <!--button-->
    <!-- <p><button onclick="location.href = 'level1';" > Go!</button>      
    </p> -->
    <h5>Signin with google to play</h5>
        <!-- Google login -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="914100676838-jpn4s0r4ldhum693jp35ngp6lff872kd.apps.googleusercontent.com">
    <div class="g-signin2" data-onsuccess="onSignIn"
    onclick="location.href = 'level1';"
    data-redirecturi="http://localhost:3000/level1"></div>
    </body>
=======

    <!--script--
      <script src="script.js"></script>-->
    
    
    <div class="container">
        <h1>Welcome</h1>           
    </div>
    <div class="container">
      <div class="row">
        <div class="span4"></div>
        <div class="span4"><img class="mx-auto d-block" src="puzzler.png" /></div>
        <div class="span4"></div>
      </div>
       <!--buttons-->
      <button type="button" class="btn btn-primary  btn-lg btn-block"  onclick="location.href = 'game_map';">Start Game</button>
      <button type="button" class="btn btn-primary  btn-lg btn-block" onclick="location.href = 'meet_team';">Meet the Team</button>

    </div>
    
    
    
   

   
    
>>>>>>> master
</html>