<!DOCTYPE html>
<html>
    <body>
    <!--script-->
    <script src="script.js"></script>
    <h1>Welcome to Puzzling the Past </h1>
    <p>Intro.</p>
    <p>About Us</p>
    <!--button-->
    <p><button onclick="location.href = 'level1';" > Go!</button>
    </p>
    </body>
</html>