<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="meet_the_team.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
      body {
  background-color: #0C0D43;
  
  
}
img{
        max-width: 85%;
        max-height: 85%;
        display: block; /* remove extra space below image */
    }
    .box{
        width: 50px;        
        border: 5px solid black;
    }    
    .box.large{
        height: 300px;
    }
    .box.small{
        height: 100px;
    }
    h1{
      font-size:900%;
      text-align:center;
      color: white;
    }
    </style>
  </head>
    <body>

    <!--script--
      <script src="script.js"></script>-->
    
    
    <div class="container">
        <!-- <h1>Welcome</h1>            -->
    </div>
    <div class="container">
      <div class="row">
        <div class="span4"></div>
        <div class="span4"><img class="mx-auto d-block" src="meet_team.png" id = "largeImage" /></div>
        <div class="span4"></div>
      </div>

      <div class = "container">
        <div class = "span4"></div>
        <div class = "span4" name = "Tylar">
          <div class = "row" id = "textbio">
            <div class = "column">
              <img class = "mx-auto d-block" src = "Tylar.png" float = "left">
            </div>
            <div class = "column">
              <h2 style="font-size:40px">—Tylar Watson—</h2>
              <p style="font-size:25px" id = "tylarparagraph" style="font-size:25px">  
                Hi! My name is Tylar Watson and I am a rising senior at UNC Chapel Hill, double majoring in Computer Science and Women's and Gender Studies, with a minor in Chinese. 
                At UNC, I am most passionate about my role as Executive & Experience Chair for Pearl Hacks, UNC's premier hackathon for nonbinary and women students. 
                Outside of professional life, I really enjoy baking new recipes and reading romance novels.
              </p>
            </div>
          </div>
        </div>
        <div>
          <br>
          <br>
        </div>
        <div class = "span4" name = "Deandra">
          <div class = "row">
            <div class = "column">
                <img class = "mx-auto d-block" src = "Deandra.png" >
            </div>
            <div class = "column">
              <h2 style="font-size:40px">—Deandra Harvin—</h2>
                <p style="font-size:25px"> 
                  Hey everyone! I am Deandra Harvin, a senior computer science major from Baltimore, MD attending THE Morgan State University. 
                  I’ve completed three software engineering internships while in college, worked as teacher’s assistant for the Intro to Computer Science course, and attended many conferences and hackathons such as Codehouse. 
                  Thanks to COVID-19, I recently started painting, doing yoga and teaching myself to cook.
                </p>
            </div>
          </div>
        </div>
        <div>
          <br>
          <br>
        </div>
        <div class = "span4" name = "Tsion">
          <div class = "row">
            <div class = "column">
              <img class = "mx-auto d-block" src = "Tsion.png" >
            </div>
            <div class = "column">
              <h2 style="font-size:40px">—Tsion Coulter—</h2>
                <p style="font-size:25px"> Hello everyone, my name is Tsion Coulter and I am a rising senior at UNC Chapel Hill,majoring in Computer Science and minoring in Cognitive Science. 
                  I worked with the UNC Computer Science Department to charter #HackTheCulture, an initiative designed to promote and empower minorities in computer science. In addition, I am incredibly passionate about mentorship and work with Technology Without Borders. 
                  My hobbies include playing with my dogs, watching Netflix, and crotchet.
                </p>
            </div>
          </div>
        </div>
        <div>
          <br>
          <br>
        </div>
        <div class = "span4" name = "Stephanie">
          <div class = "row">
            <div class = "column">
                <img class = "mx-auto d-block" src = "Stephanie.png">
            </div>
            <div class = "column">
              <h2 style="font-size:40px"> —Stephanie Hernandez—</h2>
                <p style="font-size:25px" > My name is Stephanie Hernandez. I am majoring in Computer Science at UC San Diego. 
                  I am an outreach officer for Women in Computing on campus, and am passionate about making computer science accessible! 
                  In my free time I enjoy reading and watching basketball.
                </p>
            </div>
          </div>
          
          
        </div>
        <div class = "container">
          <br>
          <br>
          <br>
          <br>
          <p style="font-size:80px" > We Are The Puzzlers</p>
          <img class = "mx-auto d-block" src = "ThePuzzlers.png" id = "puzzler">
        </div>
      </div>

      <div class = "container" > 
        <br>
        <br>
      </div>
      <button type="button" class="btn btn-primary  btn-lg btn-block"  onclick="location.href = '/';">Back to Home Page</button>
      

    </div>
    
    </body>
</html>