body {
    background-image: url("stars.jpg");
    color: white;
    font-family: "Courier new"
   }
   div{
    color: white;
    font-family: "Courier new"
    
   }
  
  
   .modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    font-family: "Courier new"
}

.a {
    margin-left: 40px;
  }
.b {
    margin-left: 70px;
}
.c {
    margin-left: 100px;
}