body {
    background-image: url("stars.jpg");
    color: white;
    font-family: "Courier new"
   }
   div{
    color: white;
    font-family: "Courier new"
    
   }
  
  
   .modal-content{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50%;
    font-family: "Courier new"
}

.a {
    margin-left: 40px;
  }
.b {
    margin-left: 70px;
}
.c {
    margin-left: 100px;
}
.ui-dialog {
    position: relative; 
    padding: .10em; 
    width: 1,000px; 
    border: 7px solid rgb(230, 229, 228);
    background: rgb(37, 37, 37);
}
.ui-button {
    border: 5px solid #080808
    /*{borderColorContent}*/
    ;
    color: #fafafa00
    /*{fcContent}*/
    ;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    background: black; /* your background */
    color: white;
    font-family: "Courier new"
 }




